{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Orange</title>
    <link rel="shortcut icon" href='{% static "images/orange.png" %}' />
    <style>
    body {
    font-family: Arial;
    color: white;
    }

    .split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
    }

    .left {
    left: 0;
    background-color: #000C66;
    }

    .right {
    right: 0;
    background-color: Orange;
    }

    .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    }

    .centered img {
    width: 150px;
    border-radius: 50%;
    }
    </style>
</head>
<body>
    <a href="{% url 'login' %}?is_superuser=0">
        <div class="split left">
            <div class="centered">
                <img src='{% static "images/faces/face1.jpg" %}' alt="Avatar woman">
                <h2>Client?</h2>
                <p>Cliquez ici.</p>
            </div>
        </div>
    </a>
    <a href="{% url 'login' %}?is_superuser=1">
        <div class="split right">
            <div class="centered">
                <img src='{% static "images/faces/face3.jpg" %}' alt="Avatar man">
                <h2>Personnel?</h2>
                <p>Cliquez ici.</p>
            </div>
        </div>
    </a>
        
</body>
</html> 
