{% extends '../base/base.html' %}
{% load static %}

{% block title %}Liste des clients{% endblock %}

{% block content %}
<div class="row">
  <div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title" style="color: #F26824;">&ensp;Liste des clients:</h4>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr> 
                <th>
                  <center>Client</center>  
                </th>
                <th>
                  Nom complet
                </th>
                <th>
                  Email
                </th>
                <th>
                  Dernière connexion
                </th>
                <th>
                  Numéro
                </th>
              </tr>
            </thead>
            <tbody>
              {% for utilisateur in utilisateurs|dictsort:"is_active" %}
                <tr>
                  <td class="py-1">
                  {% if utilisateur.is_active == 1 %}                    
                    <center>         
                      <div class="dropdown">               
                        <button type="button" class="btn btn-inverse-success btn-rounded btn-fw" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <img src='{% static utilisateur.imagePath %}' alt="image">
                          {{ utilisateur.username }}                       
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuSizeButton3">
                          <h6 class="dropdown-header">Options</h6>
                          <a class="dropdown-item" href="#">Interdire l'accés</a>
                          <a class="dropdown-item" href="{% url 'profile' utilisateur.id %}">Consulter profile</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="#"></a>
                        </div>
                      </div>
                    </center>
                  {% else %}                    
                    <center>
                      <div class="dropdown">
                        <button type="button" class="btn btn-inverse-secondary btn-rounded btn-fw" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <img src='{% static utilisateur.imagePath %}' alt="image">
                          {{ utilisateur.username }}
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuSizeButton3">
                          <h6 class="dropdown-header">Options</h6>
                          <a class="dropdown-item" href="{% url 'profile' utilisateur.id %}">Consulter profile</a>
                          {% if utilisateur.is_active == 1 %}
                            <a class="dropdown-item" href="{% url 'ban' utilisateur.id %}">Interdire l'accés</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Accés autorisé</a>
                          {% elif utilisateur.is_active == 0 %}
                            <a class="dropdown-item" href="{% url 'ban' utilisateur.id %}">Autoriser l'accés</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Accés interdit</a>
                          {% endif %}
                        </div>
                      </div>
                    </center>
                  {% endif %}
                  </td>
                  <td>
                    {{ utilisateur.first_name }}&ensp;{{ utilisateur.last_name }}
                  </td>
                  <td>
                    {{ utilisateur.email }}
                  </td>
                  <td>
                    {{ utilisateur.last_login }}
                  </td> 
                  <td>
                    {{ utilisateur.number }}
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}