{% extends '../base/base.html' %}
{% load static %}
{% block title %}Dashboard{% endblock %}
{% block content %}
<div class="row">
  <div class="col-md-12 grid-margin">
    <div class="row">
      <div class="col-12 col-xl-8 mb-4 mb-xl-0">
        <h3 class="font-weight-bold">Bonjour {{user.first_name}} {{user.last_name}}</h3>
        {% if user.is_superuser == 1 %}
        <h6 class="font-weight-normal mb-0">Vous êtes connecté en tant qu'administrateur.</h6>
        {% elif user.is_superuser == 0 %}
        <h6 class="font-weight-normal mb-0">Vous êtes connecté en tant que personnel.</h6>
        {% endif %}
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-5 grid-margin stretch-card">
    <div class="card position-relative">     
      <img src='{% static "/images/samples/1280x768/1.jpg" %}' alt="people" width="100%" height="100%" style="border-radius: 20px;">
    </div>
  </div>
  <div class="col-md-4 grid-margin stretch-card">   
    <div class="stretch-card transparent">
      <div class="card card-tale stretch-card" style="border-top-right-radius: 0px; border-bottom-right-radius: 0px;">
        <div class="col-md-12 card-body">
          <center>
            <br><br>
            <h4 class="mb-4">Nombre totale des personels:<br><br>{{ countPersonels }}</h4>
            <h4 class="mb-4">Pourcentage des personels:<br><br>{{ percentagePersonels|floatformat:2 }}%</h4>
          </center>
        </div>
      </div>
    </div>   
    <div class="stretch-card transparent">
      <div class="card card-dark-blue stretch-card" style="border-top-left-radius: 0px; border-bottom-left-radius: 0px;">
        <div class="col-md-12 card-body">
          <center>
            <br><br>
            <h4 class="mb-4">Nombre totale des admins:<br><br>{{ countAdmins }}</h4>
            <h4 class="mb-4">Pourcentage des admins:<br><br>{{ percentageAdmins|floatformat:2 }}%</h4>
          </center>
        </div>
      </Div>
    </div>
  </Div>
  <div class="col-md-3 grid-margin stretch-card">
    <div class="stretch-card transparent">
      <div class="card card-light-danger stretch-card">
        <div class="card-body">
          <center>
            <br>
            <h4 class="mb-4">Nombre totale des clients:<br><br>{{ countClients }}</h4>
            <h4 class="mb-4">Pourcentage des clients:<br><br>{{ percentageClients|floatformat:2 }}%</h4>
            <h3 class="mb-4">
              <p>Le nombre d'utilisateurs représente le nombre d'individus enregistrés:<br></p>
              {{ countUsers }}
            </h3>
          </center>
        </div>
      </Div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12 grid-margin stretch-card">
    <div class="card position-relative">
      <div class="card-body">
        <div id="detailedReports" class="carousel slide detailed-report-carousel position-static pt-2" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="row">
                <div class="col-md-12 col-xl-3 d-flex flex-column justify-content-start">
                  <div class="ml-xl-4 mt-3">
                  <p class="card-title">Detailed Reports</p>
                    <h1 class="text-primary">$34040</h1>
                    <h3 class="font-weight-500 mb-xl-4 text-primary">North America</h3>
                    <p class="mb-2 mb-xl-0">The total number of sessions within the date range. It is the period time a user is actively engaged with your website, page or app, etc</p>
                  </div>  
                </div>
                <div class="col-md-12 col-xl-9">
                  <div class="row">
                    <div class="col-md-6 border-right">
                      <div class="table-responsive mb-3 mb-md-0 mt-3">
                        <table id="table1" class="table table-borderless report-table">
                          <tr>
                            <td class="text-muted">Illinois</td>
                            <td class="w-100 px-0">
                              <div class="progress progress-md mx-4">
                                <div class="progress-bar bg-primary" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                              </div>
                            </td>
                            <td><h5 class="font-weight-bold mb-0">713</h5></td>
                          </tr>
                          <tr>
                            <td class="text-muted">Washington</td>
                            <td class="w-100 px-0">
                              <div class="progress progress-md mx-4">
                                <div class="progress-bar bg-warning" role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
                              </div>
                            </td>
                            <td><h5 class="font-weight-bold mb-0">583</h5></td>
                          </tr>
                          <tr>
                            <td class="text-muted">Mississippi</td>
                            <td class="w-100 px-0">
                              <div class="progress progress-md mx-4">
                                <div class="progress-bar bg-danger" role="progressbar" style="width: 95%" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
                              </div>
                            </td>
                            <td><h5 class="font-weight-bold mb-0">924</h5></td>
                          </tr>
                          <tr>
                            <td class="text-muted">California</td>
                            <td class="w-100 px-0">
                              <div class="progress progress-md mx-4">
                                <div class="progress-bar bg-info" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                              </div>
                            </td>
                            <td><h5 class="font-weight-bold mb-0">664</h5></td>
                          </tr>
                          <tr>
                            <td class="text-muted">Maryland</td>
                            <td class="w-100 px-0">
                              <div class="progress progress-md mx-4">
                                <div class="progress-bar bg-primary" role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                              </div>
                            </td>
                            <td><h5 class="font-weight-bold mb-0">560</h5></td>
                          </tr>
                          <tr>
                            <td class="text-muted">Alaska</td>
                            <td class="w-100 px-0">
                              <div class="progress progress-md mx-4">
                                <div class="progress-bar bg-danger" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                              </div>
                            </td>
                            <td><h5 class="font-weight-bold mb-0">793</h5></td>
                          </tr>
                        </table>
                      </div>
                    </div>
                    <div class="col-md-6 mt-3">
                      <canvas id="north-america-chart"></canvas>
                      <div id="north-america-legend"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="row">
                <div class="col-md-12 col-xl-3 d-flex flex-column justify-content-start">
                  <div class="ml-xl-4 mt-3">
                  <p class="card-title">Detailed Reports</p>
                    <h1 class="text-primary">$34040</h1>
                    <h3 class="font-weight-500 mb-xl-4 text-primary">North America</h3>
                    <p class="mb-2 mb-xl-0">The total number of sessions within the date range. It is the period time a user is actively engaged with your website, page or app, etc</p>
                  </div>  
                  </div>
                <div class="col-md-12 col-xl-9">
                  <div class="row">
                    <div class="col-md-6 border-right">
                      <div class="table-responsive mb-3 mb-md-0 mt-3">
                        <table id="table2" class="table table-borderless report-table">
                          <tr>
                            <td class="text-muted">Illinois</td>
                            <td class="w-100 px-0">
                              <div class="progress progress-md mx-4">
                                <div class="progress-bar bg-primary" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                              </div>
                            </td>
                            <td><h5 class="font-weight-bold mb-0">713</h5></td>
                          </tr>
                          <tr>
                            <td class="text-muted">Washington</td>
                            <td class="w-100 px-0">
                              <div class="progress progress-md mx-4">
                                <div class="progress-bar bg-warning" role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
                              </div>
                            </td>
                            <td><h5 class="font-weight-bold mb-0">583</h5></td>
                          </tr>
                          <tr>
                            <td class="text-muted">Mississippi</td>
                            <td class="w-100 px-0">
                              <div class="progress progress-md mx-4">
                                <div class="progress-bar bg-danger" role="progressbar" style="width: 95%" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
                              </div>
                            </td>
                            <td><h5 class="font-weight-bold mb-0">924</h5></td>
                          </tr>
                          <tr>
                            <td class="text-muted">California</td>
                            <td class="w-100 px-0">
                              <div class="progress progress-md mx-4">
                                <div class="progress-bar bg-info" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                              </div>
                            </td>
                            <td><h5 class="font-weight-bold mb-0">664</h5></td>
                          </tr>
                          <tr>
                            <td class="text-muted">Maryland</td>
                            <td class="w-100 px-0">
                              <div class="progress progress-md mx-4">
                                <div class="progress-bar bg-primary" role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                              </div>
                            </td>
                            <td><h5 class="font-weight-bold mb-0">560</h5></td>
                          </tr>
                          <tr>
                            <td class="text-muted">Alaska</td>
                            <td class="w-100 px-0">
                              <div class="progress progress-md mx-4">
                                <div class="progress-bar bg-danger" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                              </div>
                            </td>
                            <td><h5 class="font-weight-bold mb-0">793</h5></td>
                          </tr>
                        </table>
                      </div>
                    </div>
                    <div class="col-md-6 mt-3">
                      <canvas id="south-america-chart"></canvas>
                      <div id="south-america-legend"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <a class="carousel-control-prev" href="#detailedReports" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#detailedReports" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-5 stretch-card grid-margin">
    <div class="card">
      <div class="card-body">
        <p class="card-title mb-0">Régions</p>
        <div class="table-responsive">
          <table class="table table-borderless">
            <thead>
              <tr>
                <th class="pl-0  pb-2 border-bottom">Région</th>
                <th class="border-bottom pb-2">Demande</th>
                <th class="border-bottom pb-2">Utilisateur</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="pl-0">Kentucky</td>
                <td><p class="mb-0"><span class="font-weight-bold mr-2">65</span>(2.15%)</p></td>
                <td class="text-muted">65</td>
              </tr>
              <tr>
                <td class="pl-0">Ohio</td>
                <td><p class="mb-0"><span class="font-weight-bold mr-2">54</span>(3.25%)</p></td>
                <td class="text-muted">51</td>
              </tr>
              <tr>
                <td class="pl-0">Nevada</td>
                <td><p class="mb-0"><span class="font-weight-bold mr-2">22</span>(2.22%)</p></td>
                <td class="text-muted">32</td>
              </tr>
              <tr>
                <td class="pl-0">North Carolina</td>
                <td><p class="mb-0"><span class="font-weight-bold mr-2">46</span>(3.27%)</p></td>
                <td class="text-muted">15</td>
              </tr>
              <tr>
                <td class="pl-0">Montana</td>
                <td><p class="mb-0"><span class="font-weight-bold mr-2">17</span>(1.25%)</p></td>
                <td class="text-muted">25</td>
              </tr>
              <tr>
                <td class="pl-0">Nevada</td>
                <td><p class="mb-0"><span class="font-weight-bold mr-2">52</span>(3.11%)</p></td>
                <td class="text-muted">71</td>
              </tr>
              <tr>
                <td class="pl-0 pb-0">Louisiana</td>
                <td class="pb-0"><p class="mb-0"><span class="font-weight-bold mr-2">25</span>(1.32%)</p></td>
                <td class="pb-0">14</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-7 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
       <div class="d-flex justify-content-between">
        <p class="card-title">Rapport de vente</p>
        {% comment %} <a href="#" class="text-info">View all</a> {% endcomment %}
       </div>
        <p class="font-weight-500">
          Le nombre total de sessions dans la plage de dates. Il s'agit de la période pendant laquelle un utilisateur 
          est activement engagé avec votre site Web, votre page ou votre application, etc.
        </p>
        <div id="sales-legend" class="chartjs-legend mt-4 mb-2"></div>
        <canvas id="sales-chart"></canvas>
      </div>
    </div>
  </div>
</div>
{% endblock %}