{% extends '../base/base.html' %}
{% load static %}

{% block title %}Profile{% endblock %}

{% block content %}
<div class="row">
  <div class="col-lg-4 grid-margin stretch-card">
    {% if utilisateur.is_active == 1 %}
    <div class="card data-icon-card-success">
      <div class="card-body">
        <br>
        <div>
          <center><img src='{% static utilisateur.imagePath %}' alt="User Image" 
          style="border-radius: 50%; width: 180px; height: 180px; overflow: hidden;"></center>  
        </div>
        <br>
        <div>
          <center>{{utilisateur.first_name}} {{utilisateur.last_name}}</center>
        </div> 
      </div>
    </div>
    {% elif utilisateur.is_active == 0 %}
    <div class="card data-icon-card-secondary">
      <div class="card-body">
        <br>
        <div>
          <center><img src='{% static utilisateur.imagePath %}' alt="User Image" 
          style="border-radius: 50%; width: 150px; height: 150px; overflow: hidden;"></center>  
        </div>
        <br>
        <div>
          <center><h2>{{utilisateur.first_name}} {{utilisateur.last_name}}</h2></center>
        </div> 
      </div>
    </div>
    {% endif %}
  </div>
  <div class="col-lg-8 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <div>
          <center><h2 style="color: #F26824;">&ensp;Profile utilisateur</h2></center>
        </div>
        <br>
        <table class="table">
          <thread>
            <tr>
              <td><center>Username:</center></td>
              <td><center>Numéro:</center></td>
              <td><center>CIN:</center></td>
              <td><center>Role:</center></td>
            </tr>
          </thread>
          <tbody>
            <tr>
              <td><center><h6>{{ utilisateur.username }}</h6></center></td>
              <td><center><h6>{{ utilisateur.number }}</h6></center></td>
              <td><center><h6>{{ utilisateur.cin }}</h6></center></td>
              <td>
                {% if utilisateur.is_superuser == 1 %}
                <center><h6>Administrateur</h6></center>
                {% elif utilisateur.is_superuser == 0 %}
                <center><h6>Personel</h6></center>
                {% endif %}
              </td>
            </tr>
          </tbody>
        </table>
        <table class="table">
          <thread>
            <tr>
              <td><center>Age:</center></td>
              <td><center>Sexe:</center></td>
              <td><center>Région:</center></td>
              <td><center>Addresse:</center></td>
            </tr>
          </thread>
          <tbody>
            <tr>
              <td><center><h6>{{ utilisateur.age }}</h6></center></td>
              <td><center><h6>{{ utilisateur.gender }}</h6></center></td>
              <td><center><h6>{{ utilisateur.region }}</h6></center></td>
              <td><center><h6>{{ utilisateur.address }}</h6></center></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

{% endblock %}