{% extends '../base/baseAuth.html' %}
{% load static %}
{% block title %}S'authentifier{% endblock %}
{% block content %}
<div class="brand-logo">
  <center><img src='{% static "images/wide-orange.png" %}' alt="logo"></center>
</div>
<h4>Bonjour! Commençons</h4>
<h6 class="font-weight-light">Connectez-vous pour continuer.</h6>
<form class="pt-3" action="{% url 'login' %}" method="post">
  {% csrf_token %}
  <div class="form-group">
    <input type="text" name="username" class="form-control form-control-lg" id="username" placeholder="Nom d'utilisateur">
  </div>
  <div class="form-group">
    <input type="password" name="password" class="form-control form-control-lg" id="password" placeholder="Password">
  </div>
  <div class="mt-3">
    <button type="submit" class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn">SE CONNECTER</button>
  </div>
  <div class="my-2 d-flex justify-content-between align-items-center">
    <div class="form-check">
      <label class="form-check-label text-muted">
        <input type="checkbox" class="form-check-input">
        Gardez-moi connecté
      </label>
    </div>
    <a href="#" class="auth-link text-black">Mot de passe oublié?</a>
  </div>
  {% comment %} <div class="mb-2">
    <button type="submit" class="btn btn-block btn-google auth-form-btn">
      <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-google" viewBox="0 0 16 16">
        <path d="M15.545 6.558a9.42 9.42 0 0 1 .139 1.626c0 2.434-.87 4.492-2.384 5.885h.002C11.978 15.292 10.158 16 8 16A8 8 0 1 1 8 0a7.689 7.689 0 0 1 5.352 2.082l-2.284 2.284A4.347 4.347 0 0 0 8 3.166c-2.087 0-3.86 1.408-4.492 3.304a4.792 4.792 0 0 0 0 3.063h.003c.635 1.893 2.405 3.301 4.492 3.301 1.078 0 2.004-.276 2.722-.764h-.003a3.702 3.702 0 0 0 1.599-2.431H8v-3.08h7.545z"></path>
      </svg>&ensp;Connectez-vous en utilisant Google
    </button>
  </div> {% endcomment %}
  <div class="text-center mt-4 font-weight-light">
    Vous n'avez pas de compte ? <a href="{% url 'register' %}" class="text-primary">Créez-en un</a>
  </div>
</form>
{% endblock %}