{% extends '../base/baseAuth.html' %}
{% load static %}
{% block title %}S'inscrire{% endblock %}
{% block content %}
<div class="brand-logo">
  <center><img src='{% static "images/wide-orange.png" %}' alt="logo"></center>
</div>
<h4>Nouveau ici?</h4>
<h6 class="font-weight-light">L'inscription est simple. Cela ne prend que quelques étapes</h6>
<form method="post" class="pt-3">
  {% csrf_token %}
  <div class="form-group">
    <input type="text" class="form-control form-control-lg" name="nom" id="nom" placeholder="Nom">
  </div>
  <div class="form-group">
    <input type="text" class="form-control form-control-lg" name="prenom" id="prenom" placeholder="Prénom">
  </div>
  <div class="form-group">
    <input type="text" class="form-control form-control-lg" name="username" id="username" placeholder="Nom d'utilisateur">
  </div>
  <div class="form-group">
    <input type="email" class="form-control form-control-lg" name="email" id="email" placeholder="Email">
  </div>
  <div class="form-group">
    <input type="password" class="form-control form-control-lg" name="password" id="password" placeholder="Mots de passe">
  </div>
  <div class="form-group">
    <select class="form-control form-control-lg" name="region" id="region">
      <option><strong>Région</strong></option>
      <option>Tunis</option>
      <option>Ariana</option>
      <option>Sousse</option>
      <option>Kairouan</option>
      <option>Sfax</option>
    </select>
  </div>
  {% comment %} <div class="form-group">
    <input type="file" class="form-control form-control-lg" name="image" id="image" accept="image/*">
  </div> {% endcomment %}
  <div class="form-group">
    <select class="form-control form-control-lg" name="role" id="role">
      <option><strong>Role</strong></option>
      <option>Client</option>
      <option>Personel</option>
      <option>Administrateur</option>
    </select>
  </div>
  <div class="mb-4">
    <div class="form-check">
      <label class="form-check-label text-muted">
        <input type="checkbox" class="form-check-input">
        J'accepte tous les termes et conditions
      </label>
    </div>
  </div>
  <div class="mt-3">
    <button type="submit" class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn">S' INSCRIRE</button>
  </div>
  <div class="text-center mt-4 font-weight-light">
    Vous avez déjà un compte? <a href="{% url 'login' %}" class="text-primary">Se connecter</a>
  </div>
</form>
{% endblock %}


<div class="card data-icon-card-primary">
  <div class="card-body">
    <div class="row">
      <div class="col-12 text-white"> 
        <div class="card-body">
          <br>
          <h4 class="mb-4">Nombre Totale des clients: {{ countClients }}</h4>
          <h4 class="mb-4">Pourcentage des clients: {{ countPersonels }}</h4>
          <h4 class="mb-4"><p class="text-white font-weight-500 mb-0">Le nombre d'utilisateurs représente le nombre d'individus enregistrés.</p></h4>
        </div>
      </div>
    </div>
  </div>
</div>