{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Orange - {% block title %}{% endblock %}</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href='{% static "vendors/feather/feather.css" %}'>
  <link rel="stylesheet" href='{% static "vendors/ti-icons/css/themify-icons.css" %}'>
  <link rel="stylesheet" href='{% static "vendors/css/vendor.bundle.base.css" %}'>
  <!-- endinject -->
  <!-- Plugin css for this page -->
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href='{% static "css/vertical-layout-light/style.css" %}'>
  <!-- endinject -->
  <link rel="shortcut icon" href='{% static "images/orange.png" %}' />
</head>
<body>
  <div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
      <div class="content-wrapper d-flex align-items-center auth px-0">
        <div class="row w-100 mx-0">
          <div class="col-lg-5 mx-auto">
            <div class="auth-form-light text-left py-5 px-4 px-sm-5">
              {% block content %}{% endblock %}
            </div>
          </div>
        </div>
      </div>
      <!-- content-wrapper ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
  <!-- plugins:js -->
  <script src='{% static "vendors/js/vendor.bundle.base.js" %}'></script>
  <!-- endinject -->
  <!-- Plugin js for this page -->
  <!-- End plugin js for this page -->
  <!-- inject:js -->
  <script src='{% static "js/off-canvas.js" %}'></script>
  <script src='{% static "js/hoverable-collapse.js" %}'></script>
  <script src='{% static "js/template.js" %}'></script>
  <script src='{% static "js/settings.js" %}'></script>
  <script src='{% static "js/todolist.js" %}'></script>
  <!-- endinject -->
</body>
</html>